.topnav{
    overflow: hidden;
    background-color: none;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 25px;
  color: rgb(141, 141, 141);

}
.topnav a:hover {
  text-decoration: underline;
  color: white;
}

.topnav a.active {
  color: white;
}

.topnav a.contact-cta {
  background-color: #6d40ee;
  color: white;
}

body {
  background-color: #1e1e1d ;
}

h1, p, a {
  font-family: 'Roboto', sans-serif;
  color: white;
}

a {
  font-weight: bold;
}

p {
  font-style: italic;
}

.sections {
  margin-left: 50px;
  margin-right: 50px;
}
#cam-section-1 {
  padding: 10px;
  display: flex;
  gap: 25px;
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
}

.learn-more-1, .learn-more-2, .learn-more-3 {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.learn-more-1, .learn-more-2, .learn-more-3 {
  border-radius: 25px;
}

.cam-section-text-1, h1, p{
  margin-left: 10%;
}

.cam-section-text{
  order: 1;
}

img{

  border-radius: 25px;
} 

.button {
  margin-left: 6%;
}

.cam-img {
  border-radius: 25px;

}

div, .cam-img-box {
  padding: 5%;
}

.cam-img-box {
  order: 2;
}

#cam-section-2, #cam-section-3 {
  background-color: #e5d5c3;
  padding: 10px;
  display: flex;
  gap: 25px;
  border-radius: 25px;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.cam-img-2 {
  max-width: 300pt;
  max-height: 300pt;
}


.cam-section-text-3 {
  order: 2;
}

.cam-img-box-3 {
  order: 1;
}

.cam-img-2 {
  max-width: 300pt;
  max-height: 300pt;
  filter: drop-shadow(0 0 0.75rem);
}

.cam-img-3 {
  max-width: 300pt;
  max-height: 300pt;
  filter: drop-shadow(0 0 0.75rem);
}

.cam-img-1 {
  max-width: 374pt;
  max-height: 468pt;
  filter: drop-shadow(0 0 0.75rem);
}
.footer {
  background-color: #6d40ee;
  margin-top: 50px;
margin-bottom: 0%;
}